fsspec
pyworld
matplotlib
soundfile==0.10.3.post1
scikit-learn
scipy==1.7.3
tensorboard
transformers
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.63.0
librosa
omegaconf
gradio
ruamel.yaml
resampy
setuptools==57.5.0